<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TeamBuildScreenSaver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TeamBuildScreensaver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TeamBuildScreenSaver.Settings>
      <setting name="TfsUri" serializeAs="String">
        <value />
      </setting>
      <setting name="Columns" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Builds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="UpdateInterval" serializeAs="String">
        <value>30000</value>
      </setting>
    </TeamBuildScreenSaver.Settings>
    <TeamBuildScreensaver.Settings>
      <setting name="TfsUri" serializeAs="String">
        <value>tfs</value>
      </setting>
      <setting name="Columns" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Builds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="UpdateInterval" serializeAs="String">
        <value>30000</value>
      </setting>
    </TeamBuildScreensaver.Settings>
  </userSettings>
</configuration>