<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Team Build Screen 2008" Language="1033" Version="1.4.0.0" Manufacturer="Jim Liddell" UpgradeCode="ee15fd74-f039-4d8a-aa20-bfbc7b1c6de7">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!--	<MediaTemplate /> -->
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="Team Build Screen 2008" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id='TeamBuildScreen.DesktopTfs2008' />
      <ComponentRef Id='TeamBuildScreen.Tfs2008' />
      <ComponentRef Id='TeamBuildScreen.Core' />
      <ComponentRef Id='tbs' />
      <ComponentRef Id='banner' />
      <ComponentRef Id='MPL' />
      <!-- Step 3: Tell WiX to install the shortcut -->
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Team Build Screen 2008" />
      </Directory>
      <!-- Step 1: Define the directory structure -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Team Build Screen 2008"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <Component Id='TeamBuildScreen.DesktopTfs2008' Guid='34C038E1-06DA-4F59-BC4E-6CC0C491D96B'>
        <File Id='TeamBuildScreen.DesktopTfs2008' Name='TeamBuildScreen.DesktopTfs2008.exe' DiskId='1' Source='..\TeamBuildScreen.DesktopTfs2008\bin\Release\TeamBuildScreen.DesktopTfs2008.exe' KeyPath='yes' />
        <Shortcut Id='startmenuTeamBuild2008' Directory='INSTALLFOLDER' Name='TeamBuildScreen2008' Description='TeamBuildScreen2008' Advertise='yes' />
      </Component>

      <Component Id='TeamBuildScreen.Tfs2008' Guid='297293DE-CFAD-4534-9714-F526FA7BFA42'>
        <File Id='TeamBuildScreen.Tfs2008' Name='TeamBuildScreen.Tfs2008.dll' DiskId='1' Source='..\TeamBuildScreen.DesktopTfs2008\bin\Release\TeamBuildScreen.Tfs2008.dll' KeyPath='yes'>
        </File>
      </Component>

      <Component Id='TeamBuildScreen.Core' Guid='E3BD1BE4-3773-4007-B87A-C0554FFC71F3'>
        <File Id='TeamBuildScreen.Core' Name='TeamBuildScreen.Core.dll' DiskId='1' Source='..\TeamBuildScreen.DesktopTfs2008\bin\Release\TeamBuildScreen.Core.dll' KeyPath='yes'>
        </File>
      </Component>

      <Component Id='tbs' Guid='7333ED51-C003-40B3-904B-04A44E660577'>
        <File Id='tbs' Name='tbs.ico' DiskId='1' Source='..\TeamBuildScreen.Core\tbs.ico' KeyPath='yes'>
        </File>
      </Component>

      <Component Id='banner' Guid='F326C89E-A518-44FC-9F77-F73E7E32DD78'>
        <File Id='banner' Name='banner.bmp' DiskId='1' Source='banner.bmp' KeyPath='yes'>
        </File>
      </Component>

      <Component Id='MPL' Guid='2401F644-1D43-443A-8C29-E5E7F5CC3D5D'>
        <File Id='MPL' Name='Microsoft Public License.rtf' DiskId='1' Source='Microsoft Public License.rtf' KeyPath='yes'>
        </File>
      </Component>
    </ComponentGroup>
    <!-- Step 2: Add the shortcut to your installer package -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="C9B95D13-C342-47A5-AA7B-A95C683F71D7">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="Team Build Screen 2008"
           Description="Team Build Screen 2008"
            Target="[INSTALLFOLDER]TeamBuildScreen.DesktopTfs2008.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Team Build Screen 2008" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

    </DirectoryRef>

  </Fragment>

</Wix>