<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="135E68ED-1229-441F-8D67-B5A300E9A715" Name="Team Build Screen 2015" Language="1033" Version="3.0.0.0" Manufacturer="Jim Liddell" UpgradeCode="cbed956a-207a-416d-8601-824e557c9e61">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    <Icon Id="ProductIcon" SourceFile="..\TeamBuildScreen.Core\tbs.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Feature Id="ProductFeature" Title="Team Build Screen 2015" Level="1">
      <ComponentRef Id="TeamBuildScreen.DesktopTfs2015" />
      <ComponentRef Id="Screensaver" />
      <ComponentRef Id="Tfs2015ObjectModel" />
      <ComponentRef Id="Tfs2015ObjectModelScr" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="Microsoft Public License.rtf" />
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Team Build Screen 2015" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Team Build Screen 2015" />
      </Directory>
      <Directory Id="SystemFolder" />
    </Directory>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="SystemFolder" FileSource="..\TeamBuildScreen.SaverTfs2015\bin\Release">
      <Component Id="Screensaver" Guid="AA33ED51-C003-40B3-904B-04A44E6605AA">
        <File Id="TeamBuildScreen.SaverTfs2015" Name="TeamBuildScreen.SaverTfs2015.scr" KeyPath="yes" />
        <File Id="TeamBuildScreen.CoreSCR" Name="TeamBuildScreen.Core.dll" />
        <File Id="TeamBuildScreen.Tfs2015SCR" Name="TeamBuildScreen.Tfs2015.dll" />
      </Component>
      <Component Id="Tfs2015ObjectModelScr" Guid="74C038E1-06DA-4F59-BC4E-6CC0C491D97F">
        <File Id="Tfs2015ObjectModelScr.ActiveDirectory" Name="Microsoft.IdentityModel.Clients.ActiveDirectory.dll" KeyPath="yes" />
        <File Id="Tfs2015ObjectModelScr.ServiceBus" Name="Microsoft.ServiceBus.dll" />
        <File Id="Tfs2015ObjectModelScr.Build.Client" Name="Microsoft.TeamFoundation.Build.Client.dll" />
        <File Id="Tfs2015ObjectModelScr.Build.Common" Name="Microsoft.TeamFoundation.Build.Common.dll" />
        <File Id="Tfs2015ObjectModelScr.Client" Name="Microsoft.TeamFoundation.Client.dll" />
        <File Id="Tfs2015ObjectModelScr.Common" Name="Microsoft.TeamFoundation.Common.dll" />
        <File Id="Tfs2015ObjectModelScr.Core.WebApi" Name="Microsoft.TeamFoundation.Core.WebApi.dll" />
        <File Id="Tfs2015ObjectModelScr.Diff" Name="Microsoft.TeamFoundation.Diff.dll" />
        <File Id="Tfs2015ObjectModelScr.ProjectManagement" Name="Microsoft.TeamFoundation.ProjectManagement.dll" />
        <File Id="Tfs2015ObjectModelScr.SourceControl.WebApi" Name="Microsoft.TeamFoundation.SourceControl.WebApi.dll" />
        <File Id="Tfs2015ObjectModelScr.TestManagement.Client" Name="Microsoft.TeamFoundation.TestManagement.Client.dll" />
        <File Id="Tfs2015ObjectModelScr.TestManagement.Common" Name="Microsoft.TeamFoundation.TestManagement.Common.dll" />
        <File Id="Tfs2015ObjectModelScr.VersionControl.Client" Name="Microsoft.TeamFoundation.VersionControl.Client.dll" />
        <File Id="Tfs2015ObjectModelScr.VersionControl.Common" Name="Microsoft.TeamFoundation.VersionControl.Common.dll" />
        <File Id="Tfs2015ObjectModelScr.VersionControl.Common.Integration" Name="Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" />
        <File Id="Tfs2015ObjectModelScr.DataStoreLoader" Name="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll" />
        <File Id="Tfs2015ObjectModelScr.WorkItemTracking.Client" Name="Microsoft.TeamFoundation.WorkItemTracking.Client.dll" />
        <File Id="Tfs2015ObjectModelScr.QueryLanguage" Name="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" />
        <File Id="Tfs2015ObjectModelScr.WorkItemTracking.Common" Name="Microsoft.TeamFoundation.WorkItemTracking.Common.dll" />
        <File Id="Tfs2015ObjectModelScr.Proxy" Name="Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" />
        <File Id="Tfs2015ObjectModelScr.VisualStudio.Services.Client" Name="Microsoft.VisualStudio.Services.Client.dll" />
        <File Id="Tfs2015ObjectModelScr.VisualStudio.Services.Common" Name="Microsoft.VisualStudio.Services.Common.dll" />
        <File Id="Tfs2015ObjectModelScr.VisualStudio.Services.WebApi" Name="Microsoft.VisualStudio.Services.WebApi.dll" />
        <File Id="Tfs2015ObjectModelScr.WITDataStore32" Name="Microsoft.WITDataStore32.dll" />
        <File Id="Tfs2015ObjectModelScr.Json" Name="Newtonsoft.Json.dll" />
        <File Id="Tfs2015ObjectModelScr.Http.Formatting" Name="System.Net.Http.Formatting.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\TeamBuildScreen.DesktopTfs2015\bin\Release\">
      <Component Id="TeamBuildScreen.DesktopTfs2015" Guid="34C038E1-06DA-4F59-BC4E-6CC0C491D96D">
        <File Id="TeamBuildScreen.DesktopTfs2015" Name="TeamBuildScreen.DesktopTfs2015.exe" KeyPath="yes" />
        <File Id="TeamBuildScreen.Tfs2015" Name="TeamBuildScreen.Tfs2015.dll" />
        <File Id="TeamBuildScreen.Core" Name="TeamBuildScreen.Core.dll" />
      </Component>
      <Component Id="Tfs2015ObjectModel" Guid="64C038E1-06DA-4F59-BC4E-6CC0C491D96E">
        <File Id="Tfs2015ObjectModel.ActiveDirectory" Name="Microsoft.IdentityModel.Clients.ActiveDirectory.dll" KeyPath="yes" />
        <File Id="Tfs2015ObjectModel.ServiceBus" Name="Microsoft.ServiceBus.dll" />
        <File Id="Tfs2015ObjectModel.Build.Client" Name="Microsoft.TeamFoundation.Build.Client.dll" />
        <File Id="Tfs2015ObjectModel.Build.Common" Name="Microsoft.TeamFoundation.Build.Common.dll" />
        <File Id="Tfs2015ObjectModel.Client" Name="Microsoft.TeamFoundation.Client.dll" />
        <File Id="Tfs2015ObjectModel.Common" Name="Microsoft.TeamFoundation.Common.dll" />
        <File Id="Tfs2015ObjectModel.Core.WebApi" Name="Microsoft.TeamFoundation.Core.WebApi.dll" />
        <File Id="Tfs2015ObjectModel.Diff" Name="Microsoft.TeamFoundation.Diff.dll" />
        <File Id="Tfs2015ObjectModel.ProjectManagement" Name="Microsoft.TeamFoundation.ProjectManagement.dll" />
        <File Id="Tfs2015ObjectModel.SourceControl.WebApi" Name="Microsoft.TeamFoundation.SourceControl.WebApi.dll" />
        <File Id="Tfs2015ObjectModel.TestManagement.Client" Name="Microsoft.TeamFoundation.TestManagement.Client.dll" />
        <File Id="Tfs2015ObjectModel.TestManagement.Common" Name="Microsoft.TeamFoundation.TestManagement.Common.dll" />
        <File Id="Tfs2015ObjectModel.VersionControl.Client" Name="Microsoft.TeamFoundation.VersionControl.Client.dll" />
        <File Id="Tfs2015ObjectModel.VersionControl.Common" Name="Microsoft.TeamFoundation.VersionControl.Common.dll" />
        <File Id="Tfs2015ObjectModel.VersionControl.Common.Integration" Name="Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" />
        <File Id="Tfs2015ObjectModel.DataStoreLoader" Name="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll" />
        <File Id="Tfs2015ObjectModel.WorkItemTracking.Client" Name="Microsoft.TeamFoundation.WorkItemTracking.Client.dll" />
        <File Id="Tfs2015ObjectModel.QueryLanguage" Name="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" />
        <File Id="Tfs2015ObjectModel.WorkItemTracking.Common" Name="Microsoft.TeamFoundation.WorkItemTracking.Common.dll" />
        <File Id="Tfs2015ObjectModel.Proxy" Name="Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" />
        <File Id="Tfs2015ObjectModel.VisualStudio.Services.Client" Name="Microsoft.VisualStudio.Services.Client.dll" />
        <File Id="Tfs2015ObjectModel.VisualStudio.Services.Common" Name="Microsoft.VisualStudio.Services.Common.dll" />
        <File Id="Tfs2015ObjectModel.VisualStudio.Services.WebApi" Name="Microsoft.VisualStudio.Services.WebApi.dll" />
        <File Id="Tfs2015ObjectModel.WITDataStore32" Name="Microsoft.WITDataStore32.dll" />
        <File Id="Tfs2015ObjectModel.Json" Name="Newtonsoft.Json.dll" />
        <File Id="Tfs2015ObjectModel.Http.Formatting" Name="System.Net.Http.Formatting.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="C9B95D13-C342-47A5-AA7B-A95C683F71D9">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Team Build Screen 2015" Description="Team Build Screen 2015" Target="[INSTALLFOLDER]TeamBuildScreen.DesktopTfs2015.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Team Build Screen 2015" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>