<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TeamBuildScreen.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <TeamBuildScreen.Core.Settings>
      <setting name="Columns" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Builds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Team Project;MyFirstBuild;Release;Any CPU</string>
            <string>Team Project;MySecondBuild;Release;Any CPU</string>
            <string>Team Project;MyThirdBuild;Release;Any CPU</string>
            <string>Team Project;MyFourthBuild;Release;Any CPU</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UpdateInterval" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="TfsUri" serializeAs="String">
        <value></value>
      </setting>
      <setting name="StaleThreshold" serializeAs="String">
        <value>7</value>
      </setting>
    </TeamBuildScreen.Core.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

